APP_PORT=4000

# Database configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=redc

# JWT configuration
JWT_SECRET=billy_herrington
JWT_EXPIRES_IN=1d

REDIS_URI=redis://redis:6379

TRANSACTION_WEBHOOK_URL=